# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
tests/saved_models/fashion_mnist_model.pkl
pycutest_cache_holder/__init__.py
pycutest_cache_holder/EXPFITC/__init__.py
pycutest_cache_holder/EXPFITC/AUTOMAT.d
pycutest_cache_holder/EXPFITC/cutestitf.c
pycutest_cache_holder/EXPFITC/ELFUN.f
pycutest_cache_holder/EXPFITC/ELFUN.o
pycutest_cache_holder/EXPFITC/GROUP.f
pycutest_cache_holder/EXPFITC/GROUP.o
pycutest_cache_holder/EXPFITC/OUTSDIF.d
pycutest_cache_holder/EXPFITC/RANGE.f
pycutest_cache_holder/EXPFITC/RANGE.o
pycutest_cache_holder/EXPFITC/setup.py
pycutest_cache_holder/EXPFITC/build/temp.linux-x86_64-cpython-312/cutestitf.o
pycutest_cache_holder/HS46/__init__.py
pycutest_cache_holder/HS46/AUTOMAT.d
pycutest_cache_holder/HS46/cutestitf.c
pycutest_cache_holder/HS46/ELFUN.f
pycutest_cache_holder/HS46/ELFUN.o
pycutest_cache_holder/HS46/GROUP.f
pycutest_cache_holder/HS46/GROUP.o
pycutest_cache_holder/HS46/OUTSDIF.d
pycutest_cache_holder/HS46/RANGE.f
pycutest_cache_holder/HS46/RANGE.o
pycutest_cache_holder/HS46/setup.py
pycutest_cache_holder/HS46/build/temp.linux-x86_64-cpython-312/cutestitf.o
pycutest_cache_holder/HS67/__init__.py
pycutest_cache_holder/HS67/AUTOMAT.d
pycutest_cache_holder/HS67/cutestitf.c
pycutest_cache_holder/HS67/ELFUN.f
pycutest_cache_holder/HS67/ELFUN.o
pycutest_cache_holder/HS67/EXTER.f
pycutest_cache_holder/HS67/EXTER.o
pycutest_cache_holder/HS67/GROUP.f
pycutest_cache_holder/HS67/GROUP.o
pycutest_cache_holder/HS67/OUTSDIF.d
pycutest_cache_holder/HS67/RANGE.f
pycutest_cache_holder/HS67/RANGE.o
pycutest_cache_holder/HS67/setup.py
pycutest_cache_holder/HS67/build/temp.linux-x86_64-cpython-312/cutestitf.o
pycutest_cache_holder/HS86/__init__.py
pycutest_cache_holder/HS86/AUTOMAT.d
pycutest_cache_holder/HS86/cutestitf.c
pycutest_cache_holder/HS86/ELFUN.f
pycutest_cache_holder/HS86/ELFUN.o
pycutest_cache_holder/HS86/GROUP.f
pycutest_cache_holder/HS86/GROUP.o
pycutest_cache_holder/HS86/OUTSDIF.d
pycutest_cache_holder/HS86/RANGE.f
pycutest_cache_holder/HS86/RANGE.o
pycutest_cache_holder/HS86/setup.py
pycutest_cache_holder/HS86/build/temp.linux-x86_64-cpython-312/cutestitf.o
pycutest_cache_holder/LHAIFAM/__init__.py
pycutest_cache_holder/LHAIFAM/AUTOMAT.d
pycutest_cache_holder/LHAIFAM/cutestitf.c
pycutest_cache_holder/LHAIFAM/ELFUN.f
pycutest_cache_holder/LHAIFAM/ELFUN.o
pycutest_cache_holder/LHAIFAM/GROUP.f
pycutest_cache_holder/LHAIFAM/GROUP.o
pycutest_cache_holder/LHAIFAM/OUTSDIF.d
pycutest_cache_holder/LHAIFAM/RANGE.f
pycutest_cache_holder/LHAIFAM/RANGE.o
pycutest_cache_holder/LHAIFAM/setup.py
pycutest_cache_holder/LHAIFAM/build/temp.linux-x86_64-cpython-312/cutestitf.o

# PDF files
# *.pdf
